<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Mi Banco - Nueva Transferencia</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="destinatarios/crear" class="nav-link">Nuevo destinatario</a>
      </li>
      <li class="nav-item">
        <a routerLink="transferencias/crear" class="nav-link">Transferir</a>
      </li>
      <li class="nav-item">
        <a routerLink="transferencias" class="nav-link">Historial</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>