<app-base-template>
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Transferir</h4>
          <form 
          lass="form-sample"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
            <div class="form-group">
              <label>Destinatario</label>
              <!--Using items input-->
              <ng-select
                name="addresse_option"
                [(ngModel)]="selected_id" 
                required
                #addresse_option="ngModel"
                placeholder="Buscar Destinatario"
                (change)="selectAddresse()"
                [ngClass]="{ 'ng-invalid': f.submitted && addresse_option.errors }"
                >
                <ng-option *ngFor="let addresse of addresses" [value]="addresse.id">{{addresse.nombre}}</ng-option>
             </ng-select>
             <div *ngIf="addresse_option.errors && f.submitted" class="invalid-feedback">
              Ingrese un destinatario
            </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
              <div *ngIf="addressee.id != 0">
                <label for="exampleInputName1"><b> Detalle del destinatario</b></label>
                <p><b>Nombre:</b> {{addressee.nombre}}</p>
                <p><b>Correo:</b> {{addressee.correo || "Sin correo definido"}}</p>
                <p><b>Banco:</b> {{addresses?.nombre_banco || ""}}</p>
                <p><b>Tipo de cuenta:</b> {{addressee.tipo_cuenta?.tipo_cuenta || ""}}</p>
              </div>
              <div *ngIf="loading_details">
                <ngx-skeleton-loader 
                count="5" 
                appearance="line"
                [theme]="{ 
                  width: '50%',
                  'display': 'flex'
                }"
                >
              </ngx-skeleton-loader>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Monto</label>
              <input 
                type="text"
                class="form-control" 
                name="monto"
                id="monto"
                [(ngModel)]="transfer.monto"
                required
                #monto="ngModel"
                placeholder="Pesos Chilenos"
                readonly="{{disabled_fields ? 'disabled' : ''}}"
                [ngClass]="{ 'is-invalid': f.submitted && monto.errors || !minimumAmount()}"
                (focusout)="minimumAmount();"
                
                maxlength="11"
                >
                <div *ngIf="monto.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="monto.errors['required']">Ingrese Monto</div>
                </div>
                <div *ngIf="!minimumAmount()" class="invalid-feedback">
                  Monto mínimo de transferencia $1.000
                </div>
            </div>
            <div class="form-group">
              <label for="exampleInputName1">Comentario</label>
              <input 
                type="text" 
                class="form-control" 
                name="comentario"
                id="comentario"
                [(ngModel)]="transfer.comentario"
                placeholder="Opcional"
                readonly="{{disabled_fields ? 'disabled' : ''}}"
                maxlength="30"
                >
            </div>
            <button 
              type="submit" 
              class="btn btn-primary mr-2"
              disabled="{{disabled_fields ? 'disabled' : ''}}"
              >
              {{button_text}}
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-base-template>