<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="/" class="navbar-brand">{{title}}</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Principal</a>
      </li>
      <li class="nav-item">
        <a routerLink="/destinatarios/crear" class="nav-link">Nuevo destinatario</a>
      </li>
      <li class="nav-item">
        <a routerLink="/transferencias/crear" class="nav-link">Transferir</a>
      </li>
      <li class="nav-item">
        <a routerLink="/historial" class="nav-link">Historial</a>
      </li>
      <li class="flex-end">
        <a routerLink="/login" class="nav-link">Cerrar sesión</a>
      </li>
    </div>
  </nav>
</div>